h1 {
    font-size: 48px;
    text-shadow: 0px 0.2px 3px rgba(0, 0, 0, 0.315);
    margin-bottom: 20px;
}

.uso p, .options p {
    margin-bottom: 15px;
    font-size: 22px;
    text-align: center;
}


/* DICAS DE USO */

.uso{
    display: flex;
    background-color: rgb(219, 175, 92);
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
}

.textUso{
    display: flex;
    flex-direction: column;
    margin: auto 5%;
}

#estudante{
    width: 500px;
    box-shadow: 0px 1px 5px black;
}

/* OPÇÕES */

article{
    border: 1px solid #000;
    border-radius: 20px;
    width: auto;
    height: auto;
    margin: 50px 10%;
}

.op{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    margin: auto 5%;
}

.options img{
    width: 80px;
}

.opt{
    width: 300px;
    padding-bottom: 100px;
}



@media (max-width: 1280px){

    .opt{
        width: 250px;
    }
}


@media(max-width: 1170px){

    h1 {
        font-size: 38px;
    }
}

@media(max-width: 1080px){
    
    .opt{
        width: 200px;
    }
    .opition img{
        width: 50px;
    }
    .uso{
        padding: 50px 0%;
    }
}

@media(max-width: 875px){
   
    .uso{
        flex-direction: column;
    }
    .textUso{
        text-align: center;
    }
    .textUso p{
        margin-bottom: 50px;
    }
}

@media(max-width: 590px){
    .opt{
        width: 180px;
    }
    article{
        width: 100%;
        margin: 50px 0;
        border-radius: 0;
        border-right: none;
        border-left: none;
    }
}

@media(max-width: 540px) {

    #estudante{
        width: 80%;
    }   
}

@media(max-width: 425px){
    .op{
        justify-content: center;
    }
}