/* DICAS DE USO */

.uso{
    position: relative;
    display: flex;
    background-color: rgb(219, 175, 92);
}

.textUso{
    padding: 30px;
    margin: auto;
    margin-top: 80px;
}

.textUso p{
    margin-left: -50px;
    font-weight: 600px;
    line-height: 25px;
}

/* OPÇÕES */

article{
    border: 1px solid #000;
    border-radius: 20px;
    width: 1100px;
    margin: 100px auto 100px auto;
}

.optionsA{
    position: relative;
    display: flex;
    margin: 100px;
}

.optionsA img{
    width: 100px;
}

/* OPT1 */  
.opt1{
    margin-left: 100px;
}

.opt1 p{
    margin-left: -35px;
    margin-top: 10px;
}

/* OPT 2 */

.opt2{
    margin-left: 150px;
}

.opt2 p{
    margin-left: -35px;
    margin-top: 10px;
}

/* OPT 3 */

.opt3{
    margin-left: 150px;
}

.opt3 p{
    margin-left: 15px;
    margin-top: 10px;
}

/* options B */

.optionsB{
    position: relative;
    display: flex;
    margin: 100px;   
}

.optionsB img{
    width: 100px;
}

/* OPT 4 */

.opt4{
    margin-left: 100px;
}

.opt4 p{
    margin-left: -35px;
    margin-top: 10px;
}

/* OPT 5 */

.opt5{
    margin-left: 170px;
}

.opt5 p{
    margin-top: 10px;
}

/* OPT 6 */

.opt6{
    margin-left: 200px;
}

.opt6 p{
    margin-left: -35px;
    margin-top: 10px;
}

@media screen and (max-width: 800px){

    /* DICAS DE USO */

    .uso img{
        width: 300px;
        height: 200px;
    }

    .textUso p{
        margin: 0px;
    }

    .uso h1 img{
        width: 50px;
        height: 30px;
    }

    .textUso{
        margin-top: 0px;
    }

    /* OPÇÕES */

    article{
        width: 550px;
        height: 500px;
        margin-left: 0px;
        padding: 0px;
        margin: 50px auto 50px auto;

    }

    .optionsA img{
        width: 30px;
        padding: 0px;
        margin: 0px;
    }

    .optionsB img{
        width: 30px;
        padding: 0px;
        margin: 0px;
    }

    .opt1{
        margin-left: 0px;
    }
    .opt1 p{
        width: 150px;
    }
    .opt1 img{
        margin-left: 10;
    }

    .opt2{
        margin-left: 50px;
    }

    .opt2 p{
        width: 100px;
    }

    .opt3{
        margin-left: 80px;
    }
    .opt3 p{
        width: 210px;
    }
    .opt3 img{
        margin-left: 30px;
    }

    .opt4{
        margin-left: 0px;
    }
    .opt4 p{
        width: 130px;
    }

    .opt5{
        margin-left: 50px;
    }
    .opt5 p{
        width: 210px;
    }
    .opt5 img{
        margin-left: 25px;
    }

    .opt6{
        margin-left: -20px;
    }
    .opt6 p{
        width: 100px;
    }

}

@media screen and (max-width: 320px){

    /* USO */

    .uso{
        display: block;
        margin-top: 80px;
    }

    .uso img{
        width: 320px;
    }

    .uso h1{
        margin-left: 30px;
    }

    .uso h1 img{
        width: 30px;
        height: 30px;
    }

    .textUso p{
        margin-left: -20px;
        width: 300px;
    }

    /* OPÇÕES */

    article{
        width: 270px;
        height: 750px;
        margin: 50px auto 50px auto;
    }

    .optionsA{
        display: block;
        margin: 50px 50px 50px 100px;
    }

    .optionsB{
        display: block;
        margin: 50px 50px 50px 100px;
    }

    .opt2{
        margin-left: 0px;
        margin-top: 20px;
    }

    .opt3{
        margin-left: -30px;
        margin-top: 20px;
    }

    .opt5{
        margin-left: -30px;
        margin-top: 20px;
    }

    .opt6{
        margin-left: 0px;
        margin-top: 20px;
    }

}