#um{
    display: none;
}

h1 {
    font-size: 48px;
    text-shadow: 0px 0.2px 3px black;
    margin-bottom: 20px;
    color: #DF9B35;
}

iframe{
    width: 600px;
    height: 450px;
    border: 0;
    margin: auto;
}

.article2pimg p, .article3pimg p, .article5p p{
    width: 50%;
    margin: 0 10px;
    margin-bottom: 15px;
    font-size: 22px;
    text-align: justify;
}

.article1 {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    background-color: #4895D7;
}

.article1 img {
    margin: 50px 0;
    height: 350px;

}

.article1h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.article1 h2 {
    color: white;
}

.article2 {
    display: flex;
    flex-direction: column;
    padding: 50px 10%;
    height: auto;
}

.article2 h1 {
    text-align: center;
}

.article2pimg {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.article2pimg img {
    width: 450px;
    box-shadow: 0px  1px 5px black;
}

.article3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4895D7;
}

.article3 h1 {
    text-align: center;
}

.article3pimg p {
    color: white;
}

.article3pimg img {
    width: 400px;
    height: auto;
    display:flex;
}

.article3pimg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
}

.article3pimg img{
    width: 250px;
}

.article4 {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 10%;
}

.article4 h1 {
    text-align: center;
}

.article4h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article4h2 ul {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    text-align: start;
}

.article4h2 div{
    max-width: 50%;
}

.article5{
    background-color: #4895D7;
    display: flex;
    padding: 50px 10%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.article5 h1 {
    text-align: center;
}

.article5p p{
    color: white;
}
.article5p {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* 1100px */

@media (max-width:1100px) {
    .article5, .article4, .article2, .article1{
        padding: 50px 5%;
    }

    .article3pimg{
        margin: 0px 5%;
    }

    iframe{
        width: 400px;
        height: 300px;
        border: 0;
    }
}


/* 950px */
@media(max-width: 950px){
    .article1 img{
        width: 50%;
        height: 50%;
    }
}


/* 900px */
@media(max-width: 900px){
    .article2pimg img{
        width: 50%;
    }
}

/* 800px */

@media (max-width:800px) {
    .article5p, .article4h2, .article2pimg, .article1{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .article4h2 div{
        max-width: 80%;
        margin: 10px;
    }
    .article1 img{
        display: none;
    }
    #um{
        display: flex;
        margin: 0;
        margin-top: 20px;
    }
    .article2pimg p{
        width: 80%;
    }
    .article2pimg img{
        width: 70%;
    }
    .article3pimg img{
        display: none;
    }
    .article3pimg p{
        width: 80%;
    }
    .article3pimg{
        justify-content: center;
        padding-bottom: 50px;
    }
    .article5p p{
        width: 80%;
    }
}

/* 550px */

@media (max-width: 550px) {
    .article5, .article4, .article2, .article1{
        padding: 50px 0%;
    }

    .article3pimg{
        margin: 0px 0%;
    }
}

@media(max-width:430px){
    iframe{
        width: 300px;
        height: 225px;
        border: 0;
    }
}