h1 {
    font-size: 48px;
    text-shadow: 0px 0.2px 3px black;
    margin-bottom: 20px;
    color: #DF9B35;
}

#um {
    display: none;
}

.article1 p,
.article2 p,
.article3 p {
    width: 50%;
    margin: 0 10px;
    margin-bottom: 15px;
    font-size: 22px;
    text-align: justify;
}

iframe {
    width: 600px;
    height: 450px;
    border: 0;
}


.article1 {
    background-color: #4895D7;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
}


.article1text h2 {
    color: #FFFFFF;
}

.imgvem1 img {
    max-width: 450px;

}

.article3 {
    background-color: #4895D7;
    display: flex;
    height: auto;
    flex-direction: column;
    padding: 50px 10%;
}

.article3 h1 {
    text-align: center;
}

.article3p {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.article3p p {
    color: #FFFFFF;
    text-align: justify;
}

.article2h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 0px 0.2px 3px black;

}

.article2 {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 50px 10%;
}

.article2img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article2img p {
    max-width: 450px;
    text-align: justify;
}

.article2img img {
    max-width: 50%;
}



/* 1000px */
@media(max-width: 1000px) {
    .article3p {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    .article3p p {
        width: 80%;
    }
}



/* 930px */
@media(max-width: 930px) {
    .imgvem1 img {
        max-width: 350px;
    }

    .article1 p,
    .article2 p,
    .article3 p {
        width: 80%;
        max-width: 100%;
    }

    .article1,
    .article2,
    .article3 {
        padding: 50px 5%;
    }
}

/* 705px */
@media(max-width: 705px) {
    .imgvem1 img {
        display: none;
    }

    #um {
        display: flex;
        width: 300px;
        margin-top: 10%;
    }

    .article1 {
        justify-content: center;
        text-align: center;
        margin: auto;
        flex-direction: column;
    }
}

/* 650px */
@media(max-width: 650px) {
    iframe {
        width: 400px;
        height: 300px;
        border: 0;
    }

    .article2img {
        flex-direction: column-reverse;
        align-items: center;

    }

    .article2img p {
        text-align: justify;
        width: 80%;
    }
}

/* 430px */
@media(max-width: 430px) {
    iframe {
        width: 300px;
        height: 225px;
    }
    .article1 p,
    .article2 p,
    .article3 p {
        width: 100%;
        max-width: 100%;
    }
    #um{
        width: 250px;
    }
}