h1 {
    font-size: 48px;
    text-shadow: 0px 0.2px 3px black;
    margin-bottom: 20px;
    color: #DF9B35;
}

.header h2, .obter h2, .documento h2, .oque h2{
    color: white;
}

#um{
    display: none;
}

.obter p, .documento p, .oque p{
    color: #333131;
    width: 50%;
    margin: 0 10px;
    margin-bottom: 15px;
    font-size: 22px;
    text-align: justify;
}
.obter p, .obter a{
    color: white;
}

.header {
    justify-content: space-between;
    background-color: #4895D7;
    display: flex;
    height: auto;
    padding: 50px 10%;
    align-items: center;
}

.headerh1 {
    flex-direction: column;
    display: flex;
}

.header img {
    width: 400px;
}

.oque {
    display: flex;
    flex-direction: column;
    padding: 50px 10%;
    height: auto;
}

.oque h1,
.obter h1,
.documento h1 {
    text-align: center;
}

.conteudop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}


.conteudop img {
    width: 500px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.612);
}

.obter {
    display: flex;
    flex-direction: column;
    background-color: #4895D7;
    align-items: center;
    padding: 50px 10%;
}

.obter p{
    width: 80%;
}

.documento {
    display: flex;
    flex-direction: column;
    padding: 50px 10%;
    background-color: white;
}


.documentop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.documentop p{
    width: 450px;
}

.documentop ul {
    font-size: 22px;
    font-weight: 500;
    width: 450px;
}

/* MEDIA */

/* 1230px */

@media(max-width: 1230px){
    .documento, .oque{
        padding: 50px 5%;
    }
}


/* 1080px */
@media(max-width: 1080px){
    .documentop, .conteudop{
        flex-direction: column;
    }
    .conteudop p, .documentop p, .documentop ul{
        width: 80%;
    }
    .conteudop img{
        width: 600px;
    }
}

/* 850px */

@media(max-width: 850px){
    .obter, .header{
        padding: 50px 5%;
    }
    .header img{
        width: 350px;
    }
    .oque p{
        width: 80%;
    }
}

/* 690px */

@media(max-width: 690px){
    .header{
        flex-direction: column;
    }
    .header img{
        display: none;
    }
    #um{
        display: flex;
        padding-top: 10%;
        margin: auto;
    }
    h1, header h2{
        text-align: center;
    }
    .oque p, .conteudop p, .documentop p, .obter p{
        width: 100%;
    }
    #um, .conteudop img{
        width: 90%;
    }

}