@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0%;
    padding: 0%;
   font-family: 'Anek Malayalam', sans-serif;
   color: #333131;
}

.article1 {

    background-color: #4895D7;
    display: flex;
    height: 550px;
    align-items: center;
    justify-content: space-between;
}

.article1text {
    margin: 0 10%;
}

.article1text h1 {

    font-size: 48px;
    text-shadow: 0px 0.2px 3px black;
    margin-bottom: 20px;
    color: #DF9B35;
}

.article1text h2 {
    color: #FFFFFF;
}

.imgvem1 img {
    max-width: 450px;

}

.article3 {
    margin: 30px 0;
    background-color: #4895D7;
    display: flex;
    height: auto;
    flex-direction: column;
}

.article3 h1 {
    margin: 23px 0px 35px 0px;
    font-size: 35px;
    text-shadow: 0px 0.2px 3px black;
    color: #DF9B35;
    text-align: center;
}

.article3p {
    
    display: flex;
    justify-content: space-between;
    margin: 0px 10%;
    align-items: flex-start;
}

.article3p img {
    max-width: 350px;
}

.article3p p {

    margin-bottom: 15px;
    font-size: 22px;
    color: #FFFFFF;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    width: 50%;
    max-width: 550px;
    
    
}

.article2h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 0px 0.2px 3px black;
    
}

.article2h1 h1{

    margin: 23px 0px 34px 0px;
    color: #DF9B35;
    font-size: 35px;
}

.article2 {
    
    display: flex;
    flex-direction: column;
    height: auto;
   
}

.article2img {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 5%;


}

.article2img p{

    font-size: 22px;
    width: 550px;
    text-align: justify;
    

}

.article2img img {
    max-width: 50%;
}

.article4 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 40px 10%;
    background-color: #FFFFFF;
}

.article4 h1 {
   
    color: #DF9B35;
    font-size: 35px;
    text-shadow: 0px 0.2px 3px black;
    margin-bottom: 40px;

}

.article4p {
     width: 100%;
    justify-content: space-between;
    /* max-width: 700px; */
    
}

.article4p p {
    
    margin-bottom: 40px;
    
}

.article4p ul li {
    padding: 5px;
}