h1 {
    font-size: 48px;
    text-shadow: 0px 0.2px 3px black;
    margin-bottom: 20px;
    color: #DF9B35;
}

.article5 iframe{
    width: 600px;
    height: 450px;
    border: 0;
    margin: auto;
}
.article3 iframe{
    width: 600px;
    height: 450px;
    border: 0;
    margin: auto;
}

h2{
    color: white;
}

#um{
    display: none;
}

.article1 p, .article2 p, .article3 p{
    width: 50%;
    margin: 0 10px;
    margin-bottom: 15px;
    font-size: 22px;
    text-align: justify;
}

/* VEM TRABALHADOR */

.article1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4895D7;
    height: auto;
    padding: 50px 10%;
}

.article1 img{
    max-width: 400px;
}

/* O que é? */

.article2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10%;
}

.article2text{
    display: flex;
    justify-content: space-between;
}

.article2text img{
    width: 450px;
    box-shadow: 0px  1px 5px black;
}

/* Como Obter */

.article3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4895D7;
    height: auto;
    padding: 50px 10%;
}

.article3text{
    display: flex;
    justify-content: space-between;
}

.article3text p{
    color: white;
    max-width: 100%;
}

/* Modalidades */

.article4{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 50px 10%;
    justify-content: space-between;
}

.article4 img{
    width: 80px;
}

.article4 h2{
    color: #DF9B35;
}

.article4 h1{
    text-align: center;
}

.article4 p{
    max-width: 400px;
    margin: 0 5px;
    font-size: 22px;
}

.article4text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.article4pj{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.article4pf{
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-items: center;
}

/* Recarga Presencial */

.article5{
    display: flex;
    flex-direction: column;
    background-color: #4895D7;
    height: auto;
    padding: 50px 5%;
    align-items: center;
    justify-content: space-between;
}

.article5text{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.article5f1{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.article5f1 h2{
    font-size: 34px;
    text-shadow: 0px 0.2px 3px black;
    margin-bottom: 20px;
    color: #DF9B35;
    text-align: center;
}

.article5f2{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.article5f2 h2{
    font-size: 32px;
    text-shadow: 0px 0.2px 3px black;
    margin-bottom: 20px;
    color: #DF9B35;
    text-align: center;
}

iframe{
    margin-bottom: 20px;
}

.article5 p{
    font-size: 22px;
    margin: 0 5px;
    margin-bottom: 20px;
    color: white;
    max-width: 600px;

}

footer h2{
    color: #333131;
}

@media(max-width: 1370px){
    .article5 iframe{
        width: 400px;
        height: 300px;
        border: 0;
    }

    .article5 p{
        max-width: 500px;
    }
}

@media(max-width:1100px){
    .article1, .article2, .article3, .article4{
        padding: 50px 5%;
    }
}

@media(max-width: 975px){

    .article5 iframe{
        width: 400px;
        height: 300px;
        border: 0;
    }
    .article3 iframe{
        width: 400px;
        height: 300px;
        border: 0;
    }
}



@media(max-width: 950px){
    .article1, .article2text, .article3text, .article4text, .article5text{
        flex-direction: column;
        align-items: center;
    }

    .article5 iframe{
        width: 600px;
        height: 450px;
        border: 0;
    }
    .article3 iframe{
        width: 600px;
        height: 450px;
        border: 0;
    }
    .article5f2 {
        padding-top: 80px;
    }
    .article1 img{
        padding-top: 30px;
    }
    #um{
        display: flex;
    }
    #tres{
        display: none;
    }
    .article2 img{
        margin-bottom: 30px;
    }
}



@media(max-width: 925px){
    .article5{
        padding: 50px 0%;
    }
}

@media(max-width: 650px){
    .article1{
        text-align: center;
    }
    .article5 iframe{
        width: 400px;
        height: 300px;
        border: 0;
    }
    .article3 iframe{
        width: 400px;
        height: 300px;
        border: 0;
    }

    .article1 p, .article2 p, .article3 p{
        width: 80%;
    }
}

@media (max-width: 500px) {
    .article5 h1{
        text-align: center;
    }
    
}

@media(max-width:450px){
    .article5 iframe{
        width: 300px;
        height: 225px;
        border: 0;
    }
    .article3 iframe{
        width: 300px;
        height: 225px;
        border: 0;
    }

    .article1 img{
        max-width: 300px;
    }
    .article2 img{
        max-width: 300px;
    }
}